<% provide( :back, "/admin" ) %>
<div class="left_box">
    <table class='table'>
        <thead>
            <th style='width:25px;'>ID</th>
            <th style='width:200px;'>Title</th>
            <th>Content</th>
            <th style='width:130px;'></th>
        </thead>
        <tbody id='rows'>
            <% @posts.each do |post| %>
            <tr data-id="<%= post.id.to_s %>" class="post_row">
                <td><%= post.id.to_s %></td>
                <td><%= post.title %></td>
                <td><%= truncate( post.body, length: 75, seperator: " ", ommision: "..." ) %></td>
                <td>
                    <%= link_to( edit_admin_blog_post_path(post) ) do %>
                        <div class='button edit' style='display:inline-block;'>Edit</div>
                    <% end %>

                    <%= link_to( admin_blog_post_path(post), method: :delete, data: { confirm: 'Are you sure? (Cannot be undone)' }, remote: true ) do %>
                        <div class='button delete' style='display:inline-block;'>Delete</div>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to( new_admin_blog_post_path ) do %>
        <div class='button' id='#new_page'>New Page</div>
    <% end %>
</div>

<div class="right_box">
    <table class="table">
        <thead>
            <th>Category Name</th>
            <th></th>
        </thead>
        <tbody id='rows'>
            <% @categories.each do |category| %>
                <tr data-id="<%= category.id.to_s %>" class="category_row">
                    <td><%= category.name %></td>
                    <td>
                        <%= link_to( edit_admin_category_path(category) ) do %>
                            <div class='button edit' style='display:inline-block;'>Edit</div>
                        <% end %>

                        <%= link_to( admin_category_path(category), method: :delete, data: { confirm: 'Are you sure? (Cannot be undone)' }, remote: true ) do %>
                            <div class='button delete' style='display:inline-block;'>Delete</div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to( new_admin_category_path ) do %>
        <div class='button'>
            New Category
        </div>
    <% end %>
</div>